<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Springs and Swimming Holes of Florida</title>
   <link
			href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&family=Merriweather:wght@700&display=swap"
			rel="stylesheet"
		/> 
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" />
		<link rel="shortcut icon" href="#">
</head>
    <body class="body-background">
        <nav class="navbar navbar-expand-lg navbar-light spring-card">
            <a class="navbar-brand" href="#">
                <img src="../images/logo.png" width="50" height="50" alt="">
              </a>
            <a class="navbar-brand" href="#">Springhunters</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  {{!-- <a class="nav-link" data-toggle="modal" data-target="#loginModal">Login/Signup</a> --}}
                  <a class="nav-link" href="/login">login!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-none" href="#">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="modal" data-target="#newSpringModal">Submit a new spring</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select a Spring
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Populate</a>
                      <a class="dropdown-item" href="#">Me</a>
                      <a class="dropdown-item" href="#">With javascript</a>
                    </div>
                </li>
            </div>
          </nav>

          <div class="container-fluid spring-card pb-2">
              <h1 class="pb-1">Find your fountain of youth!</h1>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="statePark" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">State Park</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="petFriendly" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Pet Friendly</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="campingAllowed" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Camping Onsite</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="ScubaDiving" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Scuba Diving</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="privingFee" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Free Admission</label>
                  </div>
            </div>
            <button class="btn-info w-100" id="searchBtn" type="submit">Ponce!</button>
          {{{body}}}
</body>
	<!-- Login Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="loginModalCenterTitle">Login</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username:</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" placeholder="Enter username">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          </div> 
                    </form>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				  <button type="button" class="btn btn-primary">Save changes</button>
                  <p>
                    Not a user yet? <a href="../signup.html">Signup</a>
                  </p>

				</div>
			  </div>
			</div>
		  </div>

        <!-- New Spring Modal -->
		<div class="modal fade" id="newSpringModal" tabindex="-1" role="dialog" aria-labelledby="newSpringModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="newSpringModalCenterTitle">Submit a new spring</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
                    <p>Please enter the information below to add a new spring to the site.</p>
                    <p><label for="springnamem">Spring Name:</label></p>
                    <p><input type="text" id="springnamem"/></p>
                    <p><label for="descriptionm">Description of the spring:</label></p>
                    <p><input type="text" id="descriptionm"/></p>
                    <p><label for="campingm">Camping allowed?</label>
                    <input type="checkbox" id="campingm"/></p>
                    <p><label for="petfriendlym">Pets allowed?</label>
                    <input type="checkbox" id="petfriendlym"/></p>
                    <p><label for="addressm">Address of the spring:</label></p>
                    <p><input type="text" id="addressm"/></p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				  <button type="submit" id="newSpring" class="btn btn-primary">Submit</button>
				</div>
			  </div>
			</div>
		  </div>
{{!-- <body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Fund My Project!</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html> --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUPFIpucG-X584hME5DFs-4Yu28ny2vVk&v=weekly&libraries=geometry,places"></script>
    <script type="module" src="./public/js/script.js"></script>

</html>