<div class="row box mt-5 m-1">
  <div class="card box border border-rounded shadow spring-card flex-grow-1 p-2 m-1">
    <h2 class="text-center">Login</h2>

    <form class="form  login-form">
      <div class="mb3">
        <label for="email-login" class="form-label">email:</label>
        <input class="form-input form-control" type="text" id="email-login" />
      </div>
      <div class="mb-3">
        <label for="password-login" class="form-label">password:</label>
        <input class="form-input form-control" type="password" id="password-login" />
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  {{!-- signup form --}}
  <div class="card box border border-rounded shadow spring-card flex-grow-1 p-2 m-1">
    <h2 class="text-center">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup" class="form-label">username:</label>
        <input class="form-input form-control" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="form-label">email:</label>
        <input class="form-input form-control" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="form-label">password:</label>
        <input class="form-input form-control" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
{{!-- login script --}}
<script src="../js/login.js"></script>