@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom background gradient */
.gradient-custom {
  background: linear-gradient(to right, rgba(141, 219, 238, 0.5), rgba(58, 202, 238, 0.5))
}
/* colours list items on the springs list */
.springs-list li {
  color: black;
  list-style-type: none;
}
/* ensures the map displays */
#map{
  height:400px;
  width:100%;
}


select {
background-color: white;
border: thin solid black;
border-radius: 4px;
display: inline-block;
font: inherit;
line-height: 1.5em;
padding: 0.5em 3.5em 0.5em 1em;
}

.springs-container {
margin-top: 2%;
border-radius: 20px;
}

.mt-3 {
margin-top: .3em;
}

.springcard {
width: 27%;
text-align: center;
border-radius: 20px;
padding: 5px;
margin: 15px;
}

.springcard:hover {
  cursor: pointer;
}

.springcard h2 {
font-size: x-large;
}

.bg-light {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
}

ul {
list-style-type: none;
}

li {
font-size: medium;
margin-bottom: 5px;
}

.wicon {
float: right;
}

.card-image {
height: 215px;
width: 280px;
border-width: 5px;
border-style: solid;
border-color: rgb(181,229,227);
}

aside {
  height: 500px;
  width: 15%;
  font-family: 'Trebuchet MS';
  background-color: #1b89bc;
}

h2 {
  margin-top: 1px;
  word-spacing: -2.5px;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
font-family: 'Trebuchet MS';
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../Assets/images/background-image.jpg");
  background-color:#c5dfec;
}

.mySearch{
  margin: 4.2% 0% 0% 1%;
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(91, 181, 151);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
}

.t-center {
  text-align: center;
}
.searchBtn {
  margin-left: 2.5%;
  border-radius: 5px;
  width: 75%;
  height: 55px;

}

.btnNew{
  margin-top: 45%;
}

.textBtn {
  border: 2px;
  border-color: black;
  border-radius: 5px;
}

#zipCode {
width: 160px;
}


/* ******************************************* */
/* ***********Modal Section******************* */
/* ******************************************* */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* ******************************************* */
/* *********** Star Rating ******************* */
/* ******************************************* */
.rating {
  /* float:left; */
  width: 100%;
}
/* .rating span { float:right; position:relative; } */
.rating span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.rating span label {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  color:#FFF;
  background:#ccc;
  font-size:30px;
  margin-right:2px;
  line-height:30px;
  border-radius:50%;
}

.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  background:#F90;
  color:#FFF;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bg-custom {
  background-color: #6ea5c1;
}

/* This is for the star rating to make the radio buttons stars */
.five-pointed-star {
  --star-color:orange;
  margin:1em auto;
  font-size:10em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
 }
 .five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content:"";
  transform: rotate(-35deg);
 }
 .five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content:"";
 }

@media screen and (max-width: 400px) {
  header {
    width: 100px;
    height: 40px;
    font-size: small;
  }

  h1 {
    width: 390px;
    height: 100px;
    word-spacing: .5px;
    white-space: nowrap;
    font-size: 20px;
}

main {
  width: 390px;
  margin-bottom: 10px;
  background-image: url(/Assets/images/background-image.jpg);
}
  
  body {
    width: 390px;
    font-size: small;
    background-color:#6ea5c1
  }

  .springs-container {
    margin-right: 400px;
  }

  .springcard {
    width: 250px;
    margin-left: 50px;
    margin-top: 80px;
  }

  .mySearch {
    width: 300px;
    margin-top: 30px;
    margin-left: 50px;
  }

  .card-image {
    width: 240px;
  }
}

@media screen and (max-width: 500px) {
  header {
    width: 150px;
    height: 40px;
    font-size: small;
  }

  h1 {
    width: 390px;
    height: 100px;
    word-spacing: .5px;
    white-space: nowrap;
    font-size: 20px;
}

main {
  width: 490px;
  margin-bottom: 10px;
  background-image: url(/Assets/images/background-image.jpg);
}
  
  body {
    width: 490px;
    font-size: small;
    background-color:#6ea5c1
  }

  .springs-container {
    margin-right: 500px;
  }

  .springcard {
    width: 250px;
    margin-left: 60px;
    margin-top: 80px;
  }

  .mySearch {
    width: 300px;
    margin-top: 30px;
    margin-left: 50px;
  }

  .card-image {
    width: 240px;
  }
}

@media screen and (max-width: 1200px) {
  .springs-list li {
    color: black;
    list-style-type: none;
  }
  
  #map{
    height:400px;
    width:100%;
  }
  
  
  select {
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  }
  
  .springs-container {
  margin-top: 2%;
  border-radius: 20px;
  }
  
  .mt-3 {
  margin-top: .3em;
  }
  
  .springcard {
  width: 40%;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin: 15px;
  }
  
  .springcard:hover {
    cursor: pointer;
  }
  
  .springcard h2 {
  font-size: x-large;
  }
  
  .bg-light {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
  }
  
  ul {
  list-style-type: none;
  }
  
  li {
  font-size: medium;
  margin-bottom: 5px;
  }
  
  .wicon {
  float: right;
  }
  
  .card-image {
  height: 200px;
  width: 250px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(181,229,227);
  }
  
  aside {
    height: 500px;
    width: 20%;
    font-family: 'Trebuchet MS';
    background-color: #1b89bc;
  }
  
  h2 {
    margin-top: 1px;
    word-spacing: -2.5px;
  }
  
  h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  
  p {
  font-family: 'Trebuchet MS';
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  }
  
  main {
    background-repeat: no-repeat;
    background-size: 0% 0% 50% 50%;
    background-image: url("../../Assets/images/background-image.jpg");
    background-color:#c5dfec;
  }
  
  .mySearch{
    margin: 4.2% 0% 0% 1%;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(91, 181, 151);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
  }
  
  .t-center {
    text-align: center;
  }
  .searchBtn {
    margin-left: 2.5%;
    border-radius: 5px;
    width: 75%;
    height: 55px;
  
  }
  
  .btnNew{
    margin-top: 45%;
  }
  
  .textBtn {
    border: 2px;
    border-color: black;
    border-radius: 5px;
  }
  
  #zipCode {
  width: 160px;
  }

  @media screen and (max-width: 500px) {
    header {
      width: 150px;
      height: 40px;
      font-size: small;
    }
  
    h1 {
      width: 390px;
      height: 100px;
      word-spacing: .5px;
      white-space: nowrap;
      font-size: 20px;
  }
  
  main {
    width: 490px;
    margin-bottom: 10px;
    background-image: url(/Assets/images/background-image.jpg);
  }
    
    body {
      width: 490px;
      font-size: small;
      background-color:#6ea5c1
    }
  
    .springs-container {
      margin-right: 500px;
    }
  
    .springcard {
      width: 250px;
      margin-left: 60px;
      margin-top: 80px;
    }
  
    .mySearch {
      width: 300px;
      margin-top: 30px;
      margin-left: 50px;
    }
  
    .card-image {
      width: 240px;
    }
  }


@media screen and (max-width: 400px) {
  header {
    width: 100px;
    height: 40px;
    font-size: small;
  }

  h1 {
    width: 390px;
    height: 100px;
    word-spacing: .5px;
    white-space: nowrap;
    font-size: 20px;
}

main {
  width: 390px;
  margin-bottom: 10px;
  background-image: url(/Assets/images/background-image.jpg);
}
  
  body {
    width: 390px;
    font-size: small;
    background-color:#6ea5c1
  }

  .springs-container {
    margin-right: 400px;
  }

  .springcard {
    width: 250px;
    margin-left: 50px;
    margin-top: 80px;
  }

  .mySearch {
    width: 300px;
    margin-top: 30px;
    margin-left: 50px;
  }

  .card-image {
    width: 240px;
  }
}

};



