

.img-border {

    background-color: rgb(181,229,227);
}

.spring-card {
    background-color:#c5dfec;
}

.body-background{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/background-img3.jpg");
    background-color:#c5dfec;
}